<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
>

  <testsuites>
    <testsuite name="connection">
      <file>adpapiUtilityTest.php</file>
      <file>adpapiConnectionTest.php</file>
    </testsuite>
  </testsuites>

 <filter>
    <whitelist processUncoveredFilesFromWhitelist="false">
      
      <file>../adpapiUtility.class.php</file>
      <file>../adpapiConnection.class.php</file>
    <exclude>
    </exclude>
    </whitelist>
  </filter>


<logging>
  <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
</logging>


</phpunit>

